.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.bg_1 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 52%;
  background: linear-gradient(269.26deg, #c24fb6 6.59%, #3f51b8 94.04%);
  clip-path: polygon(0 0, 100% 0, 100% 76%, 0 100%);
  z-index: -1;
}

.bg_2 {
  position: absolute;
  top: 38%;
  width: 100%;
  height: 52%;
  background: radial-gradient(
    64.65% 109.1% at 55% -20.93%,
    #ff00e4 15.1%,
    #2c3259 100%
  );
  z-index: -2;
}
